{% extends 'base.html.twig' %}
{% set page_title = 'MonClub | Liste des rencontres' %}

{% block content %}
    <div class="p-3 text-white bg-info h1">Liste des rencontres</div>
    <div class="card">
        {% for numEquipe, rencontre in rencontresParEquipe %}
            <p class="h2 bg-secondary p-3 text-white">
                Equipe {{ numEquipe }} : ({{ nbRencontreParEquipe[numEquipe] }} matchs)
            </p>
            {% for match in rencontre|sort((a, b) => a.date < b.date) %}
                <div class="card">
                    <div class="card-header">
                        {{ match.date|date('d/m/y') }}
                    </div>
                    <div class="card-body d-flex flex-row flew-wrap">
                        {% for joueur in match.joueurs|sort((a, b) => a.points < b.points) %}
                            {% include 'joueur/_card.html.twig' %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}